.wrapform{
    margin-top:30px;

}
ion-item{
    color:#74787E;
    --border-color:#D4D7DB; 
    --highlight-color-focused:#647B90;
    --padding-start: 0;
    --inner-padding-end:0;
    font-size: 12px;
    ion-input{
        color: gray;
    }
    ion-icon{
        margin-right: 20px;
    }
}
.add-btn-wrap{
    
    text-align: center;
    padding-top: 30px;
    .sign-btn{
        --ion-primary-color:#215AB7;
        color:#F4F6FA;

    }
}