<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-no-margin">
    
    <ion-card-content>
      <div class="wrapform">
        <ion-item>
          <ion-icon name="text"></ion-icon>
          <ion-input type="text" [(ngModel)]="post.title"  required placeholder="Title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="text"></ion-icon>
          <ion-input type="text" [(ngModel)]="post.details"  required placeholder="Details"></ion-input>
        </ion-item>
      </div>
  
      
      <div class="update-btn-wrap">
        <ion-button type="submit" fill="solid" shape= "round" class="update-btn" (click)="updatePost()">Update</ion-button>
  
      </div>
      
     
    </ion-card-content>
  </ion-card>
 
</ion-content>
