<ion-header class="ion-no-border">
  <ion-toolbar> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/8.png"></ion-img>
    <ion-card-title> Reset password</ion-card-title>
    <ion-card-content>
      <div class="wrapform">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input type="email" #email required placeholder="Email"></ion-input>
        </ion-item>
        
      </div>
  
      <div class="reset-btn-wrap">
        <ion-button fill="solid" shape= "round" class="reset-btn" (click)="onResetPassword(email)">Reset</ion-button>
  
      </div>
     
  
      
    </ion-card-content>
  </ion-card>



</ion-content>
